# Dependencies
node_modules/

# Build outputs
dist/
build/
target/
contracts/**/target/

# Environment variables
.env
.env.local
.env.*.local

# Prisma generated outputs
generated/
prisma/generated/

# Logs & temp
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS & Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
.env.production
*.pem
*.apk
